<div style="margin-top: 3%;margin-bottom:3%">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100" style="margin-left:20%;margin-right:20%;margin-top: 9%">
      <div class="card" style="border-radius: 1%;box-shadow: 0 0 15px 0 #253365 ">
        <div class="card-body">
          <form *ngIf="formCenter" [formGroup]="formCenter" (ngSubmit)="submitAdd()">
            <h1 style="text-align: center; margin-top: 2%; margin-bottom: 4%">THÊM CƠ SỞ</h1>
            <div class="row d-flex align-items-center py-3">
                <div class="col-md-4">
                  <label style="font-weight: bold; margin-left: 5px">Tên cơ sở<b
                    style="color: red">*</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" formControlName="nameCenter">
                  <div class="error">{{nameCenterError}}</div>
                </div>

            </div>
            <div class="row d-flex  align-items-center py-3">
                <div class="col-md-4">
                  <label style="font-weight: bold; margin-left: 5px">Ngày khai trương<b
                    style="color: red">*</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" formControlName="openingDate" type="date">
                </div>
            </div>
            <div class="row d-flex  align-items-center py-3">
                <div class="col-md-4">
                  <label style="font-weight: bold; margin-left: 5px">Địa chỉ<b
                    style="color: red">*</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" type="text" formControlName="address">
                </div>
            </div>
            <div class="row d-flex  align-items-center py-3">
                <div class="col-md-4">
                  <label style="font-weight: bold; margin-left: 5px">Người quản lý<b
                    style="color: red">*</b></label>
                </div>
                <div class="col-md-8">
                  <select class="form-select" formControlName="admin">
                    <option value="null" selected disabled>Chọn người quản lý</option>
                    <option *ngFor="let item of employeeList" [ngValue]="item.id">{{item.name}}</option>
                  </select>
              </div>
            </div>

            <div align="center" class="px-5 py-4">
              <button type="submit" class="btn btn-secondary" style="margin-left: 1%" routerLink="/">Quay lại
              </button>
              <button style="margin-left: 1%;background-color:  #E67E22" type="submit" class="btn">
                Thêm mới
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
