<div class="card mt-4 mb-5">
  <div class="row">
    <div class="col-md-8 cart">

      <div class="row mb-1">
        <div class="col"><h4><b>Giỏ hàng</b></h4></div>
        <div class="col align-self-center text-right text-muted"></div>
      </div>

      <div class="mb-4">
        <h5 style="text-align: center; color: red" [hidden]="cartList">Giỏ hàng đang trống, vui lòng chọn sản phẩm!</h5>
        <div class="row border-top border-bottom" *ngFor="let cart of cartList">
          <div class="row main align-items-center">
            <div class="col-2"><img class="img-fluid" src="{{cart.url}}"></div>
            <div class="col-3">
              <div class="row">{{cart.productName}}</div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center">
              <button class="change" (click)="desc(cart)">-</button>
              <input type="number" class="no-spinners" id="quantity" (change)="changQuantity($event,cart)" value="{{cart.orderedQuantity}}">
              <button class="change" (click)="inc(cart)">+</button>
            </div>
            <div class="col-3">{{cart.productPrice | number:'1.0-0' }} đ
            </div>
            <div class="col-1">
              <button data-bs-toggle="modal" data-bs-target="#deleteModal"
                      (click)="showModalDeleteProduct(cart)" style="" class="btn">&#10005;
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="back-to-shop"><a class="text-muted" role="button" routerLink="/product/list">Quay lại</a></div>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center summary">
    <div style="width: 100%">
      <div><h5><b>Chi tiết</b></h5></div>
      <hr>
      <div class="row">
        <div class="col" style="padding-left:0;">Sản phẩm: {{totalProduct}}</div>
        <div class="col text-right">{{totalPrice | number:'1.0-0' }} đ</div>
      </div>
      <form>
        <p>Giao hàng</p>
        <select>
          <option class="text-muted form-control">Tiêu chuẩn - 40 000đ</option>
        </select>
        <p>Mã giảm giá</p>
        <input id="code" placeholder="Nhập mã" style="width: 100%" class="form-control">
      </form>
      <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col"><b>Tổng tiền</b></div>
        <div class="col text-right" *ngIf="cartList"><b>{{totalPrice + 40000 | number:'1.0-0' }} đ</b></div>
      </div>
      <div style="text-align: center" *ngIf="cartList"><a role="button" routerLink="/paypal" class="button-pay">Thanh
        toán</a></div>
    </div>
    </div>
  </div>

  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
       style="max-width: 200rem">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận xóa sản phẩm</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="text-align: center; margin-right: 3%; width: 102%">
          <span>Bạn có chắc chắn muốn xoá sản phẩm </span>
          <span style="color: red">{{productDelete?.productName}}</span>
          <span> ra khỏi giỏ hàng?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #e4e6eb">Đóng
          </button>
          <button type="button" class="btn"
                  data-bs-dismiss="modal" style="background-color: darkorange"
                  (click)="delete(productDelete?.orderDetailId)">Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

