<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">

      <div class="col-sm-6 col-lg-3 p-2">
        <div class="p-1 card" style="border-radius: 15px; box-shadow: 1px 1px 1px 1px #6e92b6 ">
          <div class="card text-black product-grid" style="border: none" >
            <div class="d-flex flex-row product-image">
              <img src="https://cdn2.cellphones.com.vn/x358,webp,q100/media/catalog/product/m/b/mbp14-spacegray-select-202301_1.jpg"
                   class="card-img-top" alt="iPhone"/>
              <ul class="product-links dis-flex justify-content-center">
                <li><a class="search" role="button" routerLink="/laptop/detail"><i class="fa fa-search"></i></a></li>
                <li><a class="cart" routerLink="/cart"><i class="fas fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            </div>
            <div class="text-center mt-1">
              <h4 class="card-title">MacBook 13 Pro</h4>
              <h6 class="text-primary mb-1 pb-3">2950000đ</h6>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3 p-2">
        <div class="p-1 card" style="border-radius: 15px; box-shadow: 1px 1px 1px 1px #6e92b6 ">
          <div class="card text-black product-grid" style="border: none" >

            <div class="d-flex flex-row product-image">
              <img src="https://cdn2.cellphones.com.vn/x358,webp,q100/media/catalog/product/t/e/text_ng_n_23__7.png"
                   class="card-img-top" alt="iPhone"/>
              <ul class="product-links dis-flex justify-content-center">
                <li><a class="search" routerLink="/laptop/detail"><i class="fa fa-search"></i></a></li>
                <li><a class="cart" routerLink="/cart"><i class="fas fa-shopping-cart"></i></a></li>
              </ul>
            </div>

            <div class="text-center mt-1">
              <h4 class="card-title">Surface Pro 9</h4>
              <h6 class="text-primary mb-1 pb-3">2950000đ</h6>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
