<section style="background-color: #eee;">
  <div class="container p-3">
    <h1 style="text-align: center; margin: 2%">Tất cả sản phẩm</h1>
    <div class="row my-3">
      <div class="col-md-3 d-flex justify-content-center">
        <input class="form-control" type="text" [(ngModel)]="nameProduct" placeholder="Nhập tên sản phẩm...">
      </div>

      <div class="col-md-3 d-flex">
        <select class="form-select" [(ngModel)]="productType">
          <option value="0" selected>Chọn loại sản phẩm</option>
          <option *ngFor="let productType of productTypeList " [ngValue]="productType.id">{{productType.name}}</option>
        </select>
      </div>

      <div class="col-md-3 d-flex">
        <select class="form-select" [(ngModel)]="brands">
          <option value="0" selected>Chọn nhà cung cấp</option>
          <option *ngFor="let brands of brandsList " [ngValue]="brands.id">{{brands.name}}</option>
        </select>
      </div>

      <div class="col-md-3 d-flex justify-content-center">
        <button (click)="search()"
                class="btn" type="button"
                style="text-align: center; size: 30px; border: 1px solid #b6effb;background-color: #0a5dde; color: white; margin-right: 7%">
          Tìm kiếm
        </button>
        <button (click)="sort()"
                class="btn" type="button"
                style="text-align: center; size: 30px; border: 1px solid #b6effb;background-color: #0a5dde; color: white">
          Gần nhất
        </button>
      </div>
    </div>
    <div *ngIf="productList.length == 0" style="height: 255px">
      <h2 style="text-align: center; color: #3b5998">Không tìm thấy sản phẩm phù hợp
      </h2>
    </div>

    <div *ngIf="productList.length != 0" class="row">
      <div *ngFor="let product of productList" class="col-sm-6 col-lg-3 p-2">
        <div class="p-1 card" style="border-radius: 15px; box-shadow: 1px 1px 1px 1px #6e92b6 ">
          <div class="card text-black product-grid" style="border: none">
            <div class="d-flex flex-row product-image">
              <img src="{{product.url}}"
                   class="card-img-top" alt="iPhone"/>
              <ul class="product-links dis-flex justify-content-center">
                <li><a class="search" role="button" routerLink="/product/detail/{{product.id}}"><i class="fa fa-search"></i></a></li>
                <li><a class="cart" role="button" (click)="addProduct(product.id)"><i class="fas fa-shopping-cart"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="text-center mt-1">
            <h5 class="card-title">{{product.name}}</h5>
            <div class="row">
              <h5 class="text-primary mb-1"><b>Giá: {{product.price | number:'1.0-0'}} đ</b></h5>
            </div>
            <div class="row">
                <h6 class="mb-1 pb-2">Số lượng: {{product.productQuantity}}</h6>
            </div>
<!--            <div class="row">-->
<!--              <h6 class="mb-1 pb-2">Ngày ra mắt: {{product.releaseDate}}</h6>-->
<!--            </div>-->
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="productList.length != 0 && totalPages > 1" class="row dis-flex justify-content-center">
      <div class="col-md-2" style=" margin-bottom: 20px;margin-top: 5px">
        <nav aria-label="Page navigation example" style="float: right">
          <ul class="pagination">
            <li class="page-item">
              <button [ngClass]="{disabled: currentPage === 0 }" style="background-color: #0a5dde"
                      (click)="previousPage()" class="btn" aria-label="Previous">
                <span aria-hidden="true" style="color: #ffffff">Trước</span>
              </button>
            </li>
            <li class="page-item">
              <button class="btn" style="background-color: #f9f9f9">
                {{currentPage + 1}}/{{totalPages}}
              </button>
            </li>
            <li class="page-item">
              <button [ngClass]="{disabled: currentPage === totalPages - 1 }" style="background-color: #0a5dde"
                      class="btn" (click)="nextPage()" aria-label="Next">
                <span aria-hidden="true" style="color: #ffffff">Sau</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
</section>
