
<div style="margin-top: 7%">
  <div class="container-fluid">
    <div class="row justify-content-center mt-5 mb-3">
      <h1 class="text-center">DANH SÁCH NHÂN VIÊN</h1>
    </div>
    <div class="container">
      <form>
        <!--                dòng trên-->
        <div class="col-md-12 row ">
          <!--          <div class="col-md-2"></div>-->
          <div class="col-md-1" style="margin-top: 5px;">Sinh ngày:</div>
          <div class="col-md-3" style="margin-left: -0.5%">
            <input class="form-control me-2" type="date"
                   aria-label="Search" style="border: 1px solid darkorange; width: 100%" name="dateOfBirth"
                   [(ngModel)]="startDate">
          </div>
          <div class="col-md-1" style="margin-top: 5px">Đến ngày:</div>
          <div class="col-md-3" style="margin-left: -0.5%">
            <input class="form-control me-2" type="date"
                   aria-label="Search" style="border: 1px solid darkorange; width: 100%"
                   name="dateOfBirth" [(ngModel)]="endDate">
          </div>
          <div class="col-md-1" style="margin-top: 5px">Tên NV:</div>
          <div class="col-md-3 col-lg-3" style="margin-left: -0.5%">
            <input class="form-control me-2" type="text"
                   style="border: 1px solid darkorange; width: 100%" name="nameSearch" [(ngModel)]="nameSearch">
          </div>
        </div>
        <!--                dòng dưới-->
        <div class="col-md-12 row mt-3">

          <div class="col-md-3">
            <div class="row">
              <div class="col-md-6" style=" margin-left: -4%">
                <button (click)="search()"
                        class="btn" type="button"
                        style="text-align: center; size: 30px; border: 1px solid #b6effb;background-color: darkorange">
                  Tìm kiếm
                </button>
              </div>
              <div class="col-md-6" style=" margin-left: -15%">
                <button (click)="clearInputs()"
                        class="btn" type="button"
                        style="text-align: center; size: 30px; border: 1px solid #b6effb;background-color: darkorange">
                  Xem tất cả
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="row justify-content-center">
      <div class="col-12">
        <div class="col-md-12">
          <h3 *ngIf="message" style="text-align: center; color: red">Không tìm thấy dữ liệu!</h3>
          <table *ngIf="!message"
                 class="table table-bordered table-hover"
                 style="box-shadow: 0 0 10px 0 darkorange; margin-top: 20px">
            <thead style="background-color:darkorange">
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Họ và tên</th>
              <th scope="col">Ngày sinh</th>
              <th scope="col" class="hidden-on-mobile">Giới tính</th>
              <th scope="col" class="hidden-on-mobile">Email</th>
              <th scope="col" class="hidden-on-mobile">Thẻ căn cước</th>
              <th scope="col" class="hidden-on-mobile">Chức vụ</th>
              <th scope="col">Địa chỉ</th>
              <th scope="col" class="hidden-on-mobile">Số điện thoại</th>
              <th scope="col">Sửa</th>
              <th scope="col">Xóa</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let empl of employees">
              <td>{{empl.id}}</td>
              <td>{{empl.name}}</td>
              <td>{{empl.dateOfBirth | date : 'dd-MM-yyyy'}}</td>
              <td class="hidden-on-mobile">
                <ng-container *ngIf="empl.gender == true"> Nam</ng-container>
                <ng-container *ngIf="empl.gender == false"> Nữ</ng-container>
              </td>
              <td class="hidden-on-mobile">{{empl.email}}</td>
              <td class="hidden-on-mobile">{{empl.idCard}}</td>
              <td class="hidden-on-mobile">{{empl.position.name}}</td>
              <td>{{empl.street}}</td>
              <td class="hidden-on-mobile">{{empl.phoneNumber}}</td>
              <td>
                <span type="submit"><i class="fa-regular fa-pen-to-square"
                                       routerLink="/employee/update/{{empl.id}}"></i></span>
              </td>
              <td>
            <span type="submit" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="employeeDelete = empl">
              <i class="fa-regular fa-trash-can"></i></span>
              </td>
            </tr>
            </tbody>
          </table>
          <!--phân trang-->
          <div class="row">
            <div class="col-md-2" style=" margin-bottom: 20px;margin-top: 5px">
              <button class="btn"  style="background-color: darkorange" routerLink="/employee/create">Thêm nhân viên
              </button>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2" style=" margin-bottom: 20px;margin-top: 5px">
              <nav aria-label="Page navigation example" style="float: right">
                <ul class="pagination">
                  <li class="page-item">
                    <button [ngClass]="{disabled: currentPage === 0 }" style="background-color: darkorange"
                            (click)="previousPage()" class="btn" aria-label="Previous">
                      <span aria-hidden="true" style="color: black">Trước</span>
                    </button>
                  </li>
                  <li class="page-item">
                    <button  class="btn" style="background-color: #f9f9f9" >
                    {{currentPage}}/{{pageCount}}
                    </button>
                  </li>
                  <li class="page-item">
                    <button [ngClass]="{disabled: currentPage === pageCount - 1 }" style="background-color: darkorange"
                            class="btn" (click)="nextPage()" aria-label="Next">
                      <span aria-hidden="true" style="color: black">Sau</span>
                    </button>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--modal xóa-->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="max-width: 200rem">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận xóa nhân viên</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="text-align: center; margin-right: 3%; width: 102%">
          <span>Bạn có chắc chắn muốn xoá nhân viên </span>
          <span style="color: red">{{employeeDelete.name}}</span>
          <span> này không ?</span>
          <p style="color: red ; margin-right: 17%; margin-top: 3%">* Lưu ý: Hành động này không thể hoàn tác !</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #e4e6eb">Đóng
          </button>
          <button type="button" class="btn"
                  data-bs-dismiss="modal" style="background-color: darkorange" (click)="delete(employeeDelete.id)">Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
