
.footer {
  background: #1f1f1f;
  font-family: Raleway-Bold;
}


a, .copyright {
  color: #909395;
  text-decoration: none;
  margin-top: 1%;
  margin-left: 2% ;
  margin-right: 2%;
  font-size: 20px;
}


h3 {
color: #dedede;
}
