<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex-left">
    <img id="logo" src="../../../assets/img/home/logo.png" alt="...">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="row collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav col-md-8 justify-content-left">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"><h4>Trang chủ</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/product/list" role="button">
            <h4>Sản phẩm</h4>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/support" role="button">
            <h4>Hỗ trợ</h4>
          </a>
        </li>

      </ul>

      <ul class="navbar-nav col-md-4 justify-content-end px-5">

        <li *ngIf="isLoggedIn && role === 'ROLE_CUSTOMER'" class="d-flex button-logout">
          <a routerLink="/cart" style="text-decoration: none" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                 class="bi bi-cart3" viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ totalProduct }}</span>
          </a>
        </li>

        <li [hidden]="!isLoggedIn" class="mx-2">
          <div class="dropdownUser">
            <h4 style="color: #2e5ec4"><b>{{accountName}}</b></h4>
            <div class="dropdown-content p-0">
              <div class="getstarted" routerLink="/history/list" *ngIf="role == 'ROLE_CUSTOMER'">
                <button class="btn">Lịch sử đặt hàng</button>
              </div>
              <div class="getstarted" routerLink="/personal-information">
                <button class="btn">Thông tin cá nhân</button>
              </div>
              <div class="getstarted" (click)="logOut()">
                <button class="btn">Đăng xuất</button>
              </div>
            </div>
          </div>

        </li>

        <li *ngIf="!isLoggedIn">
          <a routerLink="/security/login" class="d-flex button-login">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                 class="bi bi-person-add" viewBox="0 0 16 16">
              <path
                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path
                d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
            <h4 style="padding-left: 15px">Đăng nhập</h4>
          </a>
        </li>

      </ul>
    </div>


  </div>

</nav>
