<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img id="logo" src="../../../assets/img/home/logo.png" alt="...">

    <div class="row collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav col-md-9 justify-content-between px-5 pt-2">
        <li id="pipe"></li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><h4>Trang chủ</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/laptop" role="button">
            <h4>Laptop</h4>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="/mobile" role="button">
            <h4>Điện thoại</h4>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="#" role="button">
            <h4>Máy tính bảng</h4>
          </a>
        </li>

        <li class="nav-item">
          <button type="button" class="btn"><h4>Hỗ trợ</h4></button>
        </li>

      </ul>

      <ul class="navbar-nav col-md-3 justify-content-evenly px-5">
        <li>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                 class="bi bi-cart3 mt-1 ms-3" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                 class="bi bi-person-add mt-1 ms-3" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
          </a>
        </li>

      </ul>
    </div>
  </div>

</nav>
