.product-grid .product-links{
  width: 170px;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  bottom: -50px;
  left: 50%;
  transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links{
  bottom: 40px;
  opacity: 1;
}
.product-grid .product-links li{
  display: inline-block;
  margin: 0 4px;
}
.product-grid .product-links li a{
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  display: block;
  transition: all 0.3s ease 0s;
}

.search {
  background-color: #007bff;
}

.cart {
  background-color: #ef954c;
}

.search:hover{ background: #0556ac; }

.cart:hover{ background: #d25f00; }

.product-grid .product-content{
  text-align: left;
  padding: 15px 0 0;
}

.product-grid .title{
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 8px;
}
.product-grid .title a{
  color: #333;
  transition: all 0.3s ease 0s;
}

.product-grid .price{
  color: #0a805e;
  font-size: 16px;
  font-weight: 500;
}
.product-grid .price span{
  color: #555;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin: 0 5px 0 0;
}
@media screen and (max-width: 990px){
  .product-grid{ margin: 0 0 30px; }
}

.product-grid .product-image{
  overflow: hidden;
  position: relative;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
  max-width: 100%;
  height: 250px;
}
.product-grid .product-image .pic-1{ transition: all 0.3s ease 0s; }
.product-grid .product-image:hover .pic-1{ transform: translateX(100%); }
.product-grid .product-image .pic-2{
  width: 100%;
  height: 100%;
  transform: translateX(-101%);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
}
.product-grid .product-image:hover .pic-2{ transform: translateX(0); }
/**/
.my-toast {
  width: 200px;
  font-size: 14px;
  padding: 10px;
}

.my-icon {
  font-size: 16px;
}
