<div class="card mt-4 mb-5">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col"><h4><b>Giỏ hàng</b></h4></div>
          <div class="col align-self-center text-right text-muted">3 sản phẩm</div>
        </div>
      </div>
      <div class="row border-top border-bottom">
        <div class="row main align-items-center">
          <div class="col-2"><img class="img-fluid" src="../../../assets/img/mobile/xiaomi-redmi-10a-thumb-600x600.jpg"></div>
          <div class="col">
            <div class="row text-muted">Điện thoại</div>
            <div class="row">Xiaomi 8</div>
          </div>
          <div class="col">
            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
          </div>
          <div class="col">3 490 000đ <span class="close">&#10005;</span></div>
        </div>
      </div>
      <div class="row">
        <div class="row main align-items-center">
          <div class="col-2"><img class="img-fluid" src="../../../assets/img/mobile/iphone%2014pro.jpg"></div>
          <div class="col">
            <div class="row text-muted">Điện thoại</div>
            <div class="row">Iphone 14</div>
          </div>
          <div class="col">
            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
          </div>
          <div class="col">3 490 000đ <span class="close">&#10005;</span></div>
        </div>
      </div>
      <div class="row border-top border-bottom">
        <div class="row main align-items-center">
          <div class="col-2"><img class="img-fluid" src="../../../assets/img/mobile/samsung-galaxy-s23-600x600.jpg"></div>
          <div class="col">
            <div class="row text-muted">Điện thoại</div>
            <div class="row">Samsung 8</div>
          </div>
          <div class="col">
            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
          </div>
          <div class="col">3 490 000đ <span class="close">&#10005;</span></div>
        </div>
      </div>
     <div class="back-to-shop"><a class="text-muted" role="button" routerLink="/homepage">Quay lại</a></div>
    </div>
    <div class="col-md-4 summary">
      <div><h5><b>Chi tiết</b></h5></div>
      <hr>
      <div class="row">
        <div class="col" style="padding-left:0;">Sản phẩm: 3</div>
        <div class="col text-right">12 490 000đ </div>
      </div>
      <form>
        <p>Giao hàng</p>
        <select><option class="text-muted">Tiêu chuẩn - 40 000đ</option></select>
        <p>Mã giảm giá</p>
        <input id="code" placeholder="Nhập mã">
      </form>
      <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col">Tổng tiền</div>
        <div class="col text-right">12 530 000đ</div>
      </div>
      <a role="button" routerLink="/homepage" class="btn">Thanh toán</a>
    </div>
  </div>

</div>

