<div style="background-color: #2d3436">
  <section class=" text-center text-lg-start" style="padding:3% 10%">
    <div class="card mb-3">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-5 d-none d-lg-flex">
          <img src="./assets/img/untitled1.png" alt="Trendy Pants and Shoes"
               class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div>
        <div class="col-lg-7">
          <div class="card-body py-5 px-md-5">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <h2 style="text-align: center">Đăng nhập</h2>
              <div class="form-outline mb-4">
                <input type="email" id="form2Example1" formControlName="username" class="form-control" placeholder="Tài khoản"/>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="form2Example2" formControlName="password" class="form-control" placeholder="Mật khẩu"/>
              </div>

              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" formControlName="rememberMe" />
                    <label class="form-check-label" for="form2Example31">Ghi nhớ đăng nhập</label>
                  </div>
                </div>

                <div class="col">
                  <a href="">Quên mật khẩu?</a>
                </div>
              </div>

              <button type="submit" class="btn btn-primary btn-block mb-4">Đăng nhập</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
