<header class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container-fluid mx-4">
    <div class="logo d-flex flex-row text-center align-items-center">
        <h5 class="mx-2 logo-name" style="padding: 0; text-align: center; color: #eb5d1e">Bãi đỗ xe thông
          minh</h5>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li><a class="nav-link" [routerLink]="['employee']"><span class="n-item">Nhân viên</span></a></li>
        <li><a class="nav-link" [routerLink]="['employee']"><span class="n-item">Khách hàng</span></a></li>
        <li>
          <div class="dropdownUser">
            <span class="n-item" style="padding: 8px">Xe</span>
            <div class="dropdown-content p-0" style="width: 5rem">
              <div class="getstarted" [routerLink]="['car/car-in']"><button class="btn">Xe vào</button></div>
              <div class="getstarted" [routerLink]="['car/car-out']"><button class="btn">Xe ra</button></div>
            </div>
          </div>
        </li>
        <li><a class="nav-link" [routerLink]="['employee']"><span class="n-item">Bãi đỗ</span></a></li>
      </ul>
    </nav>
  </div>
</header><!-- End Header -->

