<div class="d-flex justify-content-center vh-100" style="background-color: #f3e0d7">


  <div class="d-flex justify-content-center align-items-center" style="width: 40%; height: 36%; margin-top: 10%; background-color: white; border-radius: 5px; box-shadow: 0 0 20px 0 #253365 ">

    <form style="padding: 4%; width: 100%">
      <div>
        <h3>Tìm tài khoản của bạn
        </h3>
      </div>
      <hr>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Chúng tôi sẽ gửi thông tin về tài khoản của bạn qua email.<br>
          Vui lòng nhập email của bạn!</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tài khoản email">
      </div>

      <div class="d-flex justify-content-end">
        <a href="login.html" role="button" class="btn mx-2" style="background-color: #e4e6eb">Hủy</a>
        <a href="changePassword.html"><button type="button" class="btn" style="background-color: darkorange">Gửi</button></a>
      </div>
    </form>

  </div>

</div>
